.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  margin: 0;
}

.calendarHeader h2 {
  margin: .3rem;
  padding: 0;
}

.btn {
  border: 1px solid #ddd;
  background-color: transparent;
  font-size: larger;
  cursor: pointer;
  margin: 0 0.2rem;
}

.prevBtn,.nextBtn{
  font-size: 1.2rem;
}