.calendarHeader {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.btn {
  border: none;
  background-color: transparent;
  font-size: larger;
  cursor: pointer;
}


.todayBtn{
  font-weight: bold;
}

.prevBtn,.nextBtn{
  font-size: 1.2rem;
}