.modal-body{
    width: 100%;
    box-sizing: border-box;
}


.overflow-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: hsla(0, 0%, 0%, 0.4);
}

.overflow-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: flex-start; 
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  max-width: 500px;
  max-height: 80vh;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 2px solid #dadce0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  overflow-x: hidden;
}

.overflow-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  margin: 3px;
  width: 100%;
  color: #555;
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: x-large;
  cursor: pointer;
  color: #333;
}

.modal-body {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center; 
  width: 100%;
}

.overflow-event {
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-weight: bold;
  text-align: center;
  width: 95%; 
}

/* Hover grow + shadow */
.overflow-event:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
