.calendarContainer {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.calendar {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}


.weekdayRow {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.weekday {
  background-color: #f2f2f2;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  color: var(--weekday-text, #333);
  border-bottom: 1px solid #ccc;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
