* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.calendarContainer {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  background-color: red;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
}

.calendarGrid > div {
  aspect-ratio: 1 / 1;
  min-height: calc((100vh - 3rem - 2.5rem) / 6);
  border: 1px solid #ddd;
}

.weekday {
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--weekday-text, #333);
}
