/* Event item wrapper */
.eventItem {
  display: block;
  width: 95%;
  padding: 4px;
  margin: 2px 0;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-weight: bold;
  border-left: 4px solid var(--event-blue);
  color: #333;
}

/* Hover effect */
.eventItem:hover {
  transform: scale(1.05);
}

/* Title and time */
.eventTitle {
  font-weight: bold;
}

.eventTime {
  font-size: 0.8rem;
  font-style: italic;
  color: #444;
}

/* Event colors */
.red {
  border-left-color: var(--event-red);
}
.blue {
  border-left-color: var(--event-blue);
}
.green {
  border-left-color: var(--event-green);
}

/* Buttons (if needed) */
.addEventBtn {
  position: absolute;
  top: 2px;
  right: 2px;
  color: var(--default-text);
  background-color: transparent;
  font-weight: bolder;
  border: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.eventItem:hover .addEventBtn {
  opacity: 1;
}

.deleteBtn {
  border: 1px solid var(--delete-btn-border);
  background: var(--delete-btn-bg);
  color: var(--delete-btn-text);
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
}
.deleteBtn:hover {
  background: var(--delete-btn-hover-bg);
}

.saveBtn {
  border: 1px solid var(--save-btn-border);
  background: var(--save-btn-bg);
  color: var(--save-btn-text);
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
}
.saveBtn:hover {
  background: var(--save-btn-hover-bg);
}
