html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
}

.calendar {
  display: grid;
  grid-template-rows: auto 1fr; /* header + grid */
  width: 100%;
  max-width: 1500px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.calendar-header button {
  border: none;
  background: transparent;
  font-weight: bolder;
  cursor: pointer;
}

.calendar-header h2 {
  margin: 0;
  font-size: 1.2rem;
}
